@import 'tailwindcss';

@layer theme {
  :root {
    --breakpoint-xs: 0px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1440px;

    --color-dark-gray: #333333;
    --color-light-gray: #CDCDCD;
    --color-green: #82E2BB;
  }
}

* {
  font-family: 'Tajawal', sans-serif;
}